<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<!--  CSS -->
	<link rel="stylesheet" href="../static/css/reset.css" />
	<link rel="stylesheet" href="../static/css/partials/header.css" />
	<link rel="stylesheet" href="../static/css/home/style.css" />
	<!-- Google fonts -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
	<link rel="stylesheet" href="../static/fonts/fonts.css" />
	<title>Monstros de Bolso!</title>
</head>

<body>
	<!-- HEADER -->
	<header class="header">
		<div class="header--container">
			<div class="Image__title--container">
				<img class="" height="56"
					src="https://st3.depositphotos.com/2633985/14483/v/380/depositphotos_144831037-stock-illustration-black-cat-in-the-pocket.jpg"
					alt="" />
				<span>Monstros de Bolso</span>
			</div>
			<div class="Header__link--container">
				<div class="">
					<a href="">Descobrir</a>
					<a href="">Minha Lista</a>
				</div>
			</div>
			<div class="Header__options--container">
				<div class="Main__options--container">
					<i class="material-icons">search</i>
					<i class="material-icons">add</i>
					<i class="material-icons">edit</i>
				</div>
				<div class="Profile__options--container">
					<i class="material-icons">bug_report</i>
					<div>
						<img class="" src="https://i.ytimg.com/vi/a0LhJY3XRwg/maxresdefault.jpg" />
					</div>
				</div>
			</div>
		</div>
		<div class="final__line"></div>
	</header>
	<!-- HEADER -->
	<!-- CONTENT -->
	<section class="main--container">
		<!-- POKE -->
		<div class="poke">
				<img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/001.png" alt="" />
				<span>Calango com Planta</span>
		</div>
		<!-- POKE -->
		<!-- POKE -->
		<div class="poke">
				<img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/005.png" alt="" />
				<span>Calango com Fogo</span>
			</div>
		</div>
		<!-- POKE -->

		<!-- POKE -->
		<div class="poke">
			<img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/008.png" alt="" />
			<span>Tartaruga Invocada</span>
		</div>
		<!-- POKE -->

		<!-- POKE -->
		<div class="poke">
				<img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/015.png" alt="" />


				<span>Abelha ET de Varginha</span>
		</div>
		<!-- POKE -->

		<!-- POKE -->
		<div class="poke">
				<img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/020.png" alt="" />
				<span>Ratazana</span>

		</div>

		<div class="poke">
				<img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/024.png" alt="" />


				<span>Celeste II (Caste Ra-Tim-Bum)</span>

		</div>
		<!-- POKE -->
		<!-- POKE -->
		<div class="poke">
				<img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/050.png" alt="" />

				<span>Verruga</span>
		</div>
		<!-- POKE -->

		<!-- POKE -->
		<div class="poke">
				<img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/083.png" alt="" />


				<span>Marreco Ladrão</span>


		</div>
		<!-- POKE -->

		<!-- POKE -->
		<div class="poke">
				<img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/036.png" alt="" />

				<span>Fada Ladrão</span>
		</div>
	</section>
	<!-- CONTENT -->
</body>

</html>