
<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<!--  CSS -->
	<link rel="stylesheet" href="../static/css/reset.css" />
	<link rel="stylesheet" href="../static/css/partials/header.css" />
	<link rel="stylesheet" href="../static/css/index/singlePage.css" />




	<!-- Google fonts -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
	<link rel="stylesheet" href="../static/fonts/fonts.css" />
	<title>Monstros de Bolso!</title>
</head>

<body>
	<!-- HEADER -->
	<header class="header">
		<div class="header--container">
			<div class="Image__title--container">
				<img class="" height="56"
					src="https://st3.depositphotos.com/2633985/14483/v/380/depositphotos_144831037-stock-illustration-black-cat-in-the-pocket.jpg"
					alt="" />
				<span>Monstros de Bolso</span>
			</div>
			<div class="Header__link--container">
				<div class="">
					<a href="">Descobrir</a>
					<a href="">Minha Lista</a>
				</div>
			</div>
			<div class="Header__options--container">
                <i class="material-icons menu__icon">menu</i>
				<div class="Main__options--container">
					<i class="material-icons">search</i>
					<i class="material-icons">add</i>
					<i class="material-icons">edit</i>
                    <!-- <i class="material-icons">menu</i> -->
				</div>
				<div class="Profile__options--container">
					<i class="material-icons">bug_report</i>
					<div>
						<img class="" src="https://i.ytimg.com/vi/a0LhJY3XRwg/maxresdefault.jpg" />
					</div>
				</div>
			</div>
		</div>
		<div class="final__line"></div>
	</header>
	<!-- HEADER -->
	<!-- CONTENT -->
	<main>

    
        <section class="pokemon__main--container">
            <!-- <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/005.png" alt="" />-->

            <div class="back__button__container">
                <button class="back__button"><</button>
            </div>
            <div class="poke__display">
                <div class="poke__display__image">
                    <div class="poke__display__image__show">

                    </div>
                </div>
    
                <h2 class="poke__display__name">
                    Pokemon Name
                </h2>
    
            </div>
    
            <div class="poke__type__container">
                <div class="poke__type">
                    Grass
                </div>
            </div>
            <div class="poke__details">
                <div class="poke__details__stats--container">
                    <h3 >Stats :</h3>
    
                    <div class="poke__details__stats__bar--container">
                        <span>
                            HP: 
                        </span>
                        <div class="poke__details__stats__bar">
                            <div class="BarWidth">

                            </div>
                        </div>
                    </div>
    
    
                    <div class="poke__details__stats__bar--container">
                        <span>
                            Stamina: 
                        </span>
                        <div class="poke__details__stats__bar">
                            <div></div>
                        </div>
                    </div>
    
                </div>
            </div>
            
        </section>
    </main>

	<!-- CONTENT -->

    <script src="../static/js/singlePage2.js"></script>
    
</body>

</html>